<div class="card">
    <div class="card-header">
        <h3 class="card-title">Edit Buddy</h3>
    </div>
    <form action="/admin/buddy/update/<%= buddy._id %>" method="post">
        <%- include('./_form', { buddy, categories, form: null })%>
        <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-secondary" href="/admin/buddy/list">
                <i class="fas fa-arrow-left"></i> Back
            </a>
            <button class="btn btn-primary" type="submit">
                <i class="fas fa-save"></i> Update
            </button>
        </div>
    </form>
</div>