<footer class="main-footer">
    <strong>Copyright &copy; <%= new Date().getFullYear() %> <a href="/">Pet Management Admin</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Version</b> 1.0.0
    </div>
</footer>